<h1>Login </h1>

<form (ngSubmit)="login()" #loginForm="ngForm">
Username <br>
<input type="text" name="username" #uname="ngModel"
            [(ngModel)]="username" required   /> 
            <span *ngIf="uname.invalid && (uname.dirty || loginForm.submitted)">Username is missing </span>
<p></p>
password <br>
<input type="password" name="password" #pwd="ngModel" 
             [(ngModel)]="password" required  minlength="4"/>
             <span *ngIf="pwd.invalid && pwd.dirty">Password is missing </span>
             <span *ngIf="pwd.errors?.minlength">Min length is 4</span>
<p></p>
<button>Login</button>
<div>
Username Valid : {{uname.valid}}
 <br>
Touched {{loginForm.touched}}
 <br>
Dirty {{loginForm.dirty}}
<br>
Form Submitted : {{loginForm.submitted}}



 
</div>    
</form>