  <style>
    .special { color:white; background-color:red}
    .big {font-size:40pt}
  </style>


   <div *ngIf="false; else falseB">True</div>
   <ng-template #falseB>
      <h2>False Block </h2>
    </ng-template>

  <div *ngIf="false; then trueBlock; else falseBlock"></div>
  <ng-template #trueBlock>True Block</ng-template>
  <ng-template #falseBlock>False Block</ng-template>


  <div [ngClass]="currentClasses">
       Welcome
  </div>

  <div [ngStyle]="{ 'color' : 'red' , 'font-size' : '20pt'}">
       Welcome
  </div>

  <div *ngFor="let n of names; let isFirst = first; let i = index; let isLast = last">
      <hr *ngIf="isFirst"/>
      {{i + 1}} {{n}}
      <hr *ngIf="isLast"/>
  </div>




  
  

